body {
    background: #E8F5E9;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #4C8BAF;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}
.completed{
    text-decoration: line-through;
    color: gray;
}

.deleteButton{
    margin-left: 10px;
}
.button{
    
    height: 20px;
    border-radius: 8px;
    box-shadow: 2px 0px 1px 0px #639DCD;
    border-style: none;
    outline:none;
    vertical-align: middle;
}
.button:active{
    box-shadow: none;
}
.isCompleteCheckbox{
    width:20px;
    height:20px;
    vertical-align: middle;
}